body {
      background-color: #130F26;
    }
    .info {
      margin-top: 50px;
    }
    .isi-tabel {
      margin-top: 50px;
    }
    .dir {
      margin-bottom: 0;
    }
    table {
      border-radius: 5px;
    }
    .klik {
      border-radius: 50px;
      margin-bottom: 7px;
    }
    a:hover {
      color: white;
      text-shadow: 0 0 3px #FF0000;
      text-decoration: none;
    }
    a {
      color: white;
      text-decoration: none;
    }
    .dir {
      color: #495057;
    }
    .current {
        background-color: #454d55;
    }
    .pemisah {
        background-color: #575d64;
    }
    .footer {
        color: lime;
    }
    .inf {
        margin: 3px;
    }
    small {
      color: gold;
    }
    .py-3 {
      color: white;
    }
    .fa-heart {
      color: red;
    }
